<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Premiumizer {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
              crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=7">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
            integrity="sha384-7/Tl0k65OTvDSvtuq7aPR7aa0aCz7ZKqHsbMRLxhzueldW+9MZpCe9LB1c5UBuNS"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css"
              integrity="sha384-3yxD2zedh6xMZSBXEU/Ullhi/tZVU5KFxaVnpDaGSgI2Ihsb3f7QOV0bmLiN+84c"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">Premiumizer</a>
            </div>
            <div class="navbar-collapse collapse">
                {% block barbuttons %}
                    <ul class="nav navbar-nav">
                        {% set navigation_bar = [
                ('home', 'home', 'Home'),
                ('history', 'history', 'History'),
                ('settings', 'settings', 'Settings'),
                ('log', 'log', 'Log'),
                ('about', 'about', 'About')
                ] %}
                        {% for href, id, caption in navigation_bar %}
                            <li {% if id == active_page %} class="active"{% endif %}>
                                <a href="{{ url_for(href|e) }}">{{ caption|e }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="{{ url_for('logout') }}">Log Out</a></li>
                    </ul>
                {% endblock %}
            </div>
        </div>
    </nav>
{% endblock %}
<div class="container">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% block js_footer %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"
            integrity="sha384-mnBvjeGCf86Y4yJ0vytcL23m8C6tUybu3XxKR78MtVX0ivUMekCXqREMCbwGL8st"
            crossorigin="anonymous"></script>
    <script>$(".bootstrap_switch").bootstrapSwitch();</script>
{% endblock %}
</body>
</html>