{% extends "base.html" %}
{% set active_page = "home" %}
{% block title %} - Home{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div id="premiumize_connect_error" class="alert alert-danger" role="alert" style="display:none;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Premiumize.me connection error, check API Key in Settings - Premiumize.me
    </div>
    {% if cfg.jd_connected == 0 and cfg.jd_enabled %}
        <p>&nbsp;</p>
        <div id="cfg.jd_connected" class="alert alert-danger" role="alert" style="display:inline;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Warning:</span>
            JDownloader connection error
        </div>
    {% endif %}
    {% if cfg.aria2_connected == 0 and cfg.aria2_enabled %}
        <p>&nbsp;</p>
        <div id="cfg.aria2_connected" class="alert alert-danger" role="alert" style="display:inline;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Warning:</span>
            aria2 connection error
        </div>
    {% endif %}
    {% if debug_enabled == 1 %}
        <p>&nbsp;</p>
        <div id="debug_enabled" class="alert alert-warning" role="alert" style="display:inline;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Warning:</span>
            Debug mode is enabled
        </div>
    {% endif %}
    {% if cfg.update_available == 1 %}
        <p>&nbsp;</p>
        <div id="update_available" class="alert alert-info" role="alert" style="display:inline;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            Premiumizer Update available
        </div>
    {% endif %}
    {% if cfg.jd_update_available == 1 %}
        <p>&nbsp;</p>
        <div id="jd_update_available" class="alert alert-info" role="alert" style="display:inline;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            JDownloader Update available
        </div>
    {% endif %}
    {% if download_speed != -1 %}
        <p>&nbsp;</p>
        <div id="download_speed" class="alert alert-info" role="alert" style="display:inline;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            Download speed is limited to {{ download_speed }}/s
        </div>
    {% endif %}
    {% if cfg.time_shed == 1 %}
        <p>&nbsp;</p>
        <div id="time_shed" class="alert alert-info" role="alert" style="display:inline;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            Time Scheduler enabled from {{ cfg.time_shed_start }} to {{ cfg.time_shed_stop }}
        </div>
    {% endif %}
    {% if cfg.download_enabled != 1 %}
        <p>&nbsp;</p>
        <div id="download_enabled" class="alert alert-info" role="alert" style="display:inline;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            Downloads are disabled
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <h3><i class="fa fa-cloud-upload fa-2x"></i></h3>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <div class="icon-addon addon-fa pointer">
                    <input type="text" placeholder="Drop or upload a .torrent - .nzb - .magnet"
                           class="form-control pointer"
                           id="file-input" onclick="document.getElementById('file-file-upload').click();">
                    <label for="file" class="fa fa-file" rel="tooltip" title="file"></label>
                    <input type="file" id="file-file-upload" style="display:none"
                           accept=".torrent,.nzb,.magnet">
                </div>
            </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="form-group">
                <div class="icon-addon addon-fa">
                    <input type="text" placeholder="Drop or Paste a magnet URI" class="form-control"
                           id="magnet-input">
                    <label for="magnet" class="fa fa-magnet" rel="tooltip" title="magnet"></label>
                </div>
            </div>
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <div class="icon-addon addon-fa">
                        <textarea class="form-control custom-control" rows="3" style="resize:none"
                                  placeholder="Paste filehosts links"></textarea>
                    <i class="fa fa-external-link"></i>
                </div>
                <span class="input-group-addon btn btn-primary" id="filehost_urls">Add</span>
            </div>
        </div>
    </div>
    <div id="loading_upload" class="row" style="display:none">
        <div class="col-lg-12 text-center">
            <i class="fa fa-cog fa-spin fa-5x"></i>
            <p class="lead">Uploading File</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>
                <i class="fa fa-server fa-2x"></i>
                <a class="btn btn-xs delete_btn pointer" onclick="delete_all_failed_tasks()"
                   style="font-size:30px;vertical-align: top;float: right"><i class="fa fa-trash-o fa-lg"></i></a>
            </h3>
        </div>
    </div>

    <div id="loading_download_tasks" class="row">
        <div class="col-lg-12 text-center">
            <i class="fa fa-cog fa-spin fa-5x"></i>
            <p class="lead">Loading Download Tasks</p>
        </div>
    </div>

    <div id="no_downloads" class="row" style="display:none">
        <div class="col-lg-12 text-center">
            <i class="fa fa-flag-checkered fa-5x"></i>
            <p class="lead">No Downloads</p>
        </div>
    </div>

    <div id="download_section">

    </div>
{% endblock %}

{% block js_footer %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"
        integrity="sha512-oFOCo2/3DtjrJG4N27BjSLQWoiBv171sK6a+JiWjp/7agxC2nCUP358AqzxkBUb5jX8g6CYLPdSKQTbC0weCwA=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/control.js') }}?v=22"></script>
{% endblock %}