{% extends "base.html" %}
{% set active_page = "settings" %}
{% block title %} - Home{% endblock %}
{% block content %}
    <form data-toggle="validator" role="form" method="post" action="{{ url_for('settings') }}"
          enctype="multipart/form-data">
        <div class="form-group pull-right">
            {% with info = get_flashed_messages(category_filter=["info"]) %}
                {% if info %}
                    {%- for msg in info %}
                        <p class=info><strong>{{ msg }}</strong>
                    {% endfor -%}
                {% endif %}
            {% endwith %}
            <button type="submit" class="btn btn-primary">Save</button>
            <input type="submit" class="btn btn-danger" name="submit" value="Restart">
            <input type="submit" class="btn btn-danger" name="submit" value="Shutdown">
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#1a" data-toggle="tab">Global</a></li>
            <li><a href="#4a" data-toggle="tab">Premiumize.me</a></li>
            <li><a href="#5a" data-toggle="tab">Automation</a></li>
            <li><a href="#6a" data-toggle="tab">Downloader</a></li>
            <li><a href="#8a" data-toggle="tab">Categories</a></li>
            <li><a href="#10a" data-toggle="tab">Notifications</a></li>
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a">
                <p>&nbsp;</p>
                <p>Changing these settings requires a restart.</p>
                <p>&nbsp;</p>
                <fieldset>
                    <legend>Updates:</legend>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" name="submit" value="Check for update">
                        <p class="text-primary">{{ cfg.update_status }}</p>
                        <p class="text-primary">Premiumizer is running on commit: <a
                                href="https://github.com/piejanssens/premiumizer/commits/master"
                                target="_blank">{{ cfg.update_localcommit }}</a></p>
                        {% if cfg.update_available %}
                            <p>Pressing Update will restart Premiumizer.</p>
                            <input type="submit" class="btn-danger" name="submit" value="Update Premiumizer">

                            <p class="text-primary">Changes:</p>
                            <pre>{{ cfg.update_diffcommit }}</pre>
                            <p>&nbsp;</p>
                        {% endif %}
                        {% if cfg.jd_update_available %}
                            <p>Pressing Update will restart JDownloader.</p>
                            <input type="submit" class="btn-danger" name="submit" value="Update JDownloader">
                        {% endif %}
                        <div class="form-group">
                            <label for="auto_update">Enable automatic updates (checks every 6 hours):</label>
                            {% if settings.get('update', 'auto_update') == '1' %}
                                <input type="checkbox" class="form-control bootstrap_switch" name="auto_update"
                                       data-size="small" checked>
                            {% else %}
                                <input type="checkbox" class="form-control bootstrap_switch" name="auto_update"
                                       data-size="small">
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">

                    <p>&nbsp;</p>
                    <fieldset>
                        <legend>Logging:</legend>
                        <div class="form-group">
                            <label for="debug_enabled">Debug mode:</label>
                            {% if settings.get('global', 'debug_enabled') == '1' %}
                                <input type="checkbox" class="form-control bootstrap_switch" name="debug_enabled"
                                       data-size="small"
                                       checked>
                            {% else %}
                                <input type="checkbox" class="form-control bootstrap_switch" name="debug_enabled"
                                       data-size="small">
                            {% endif %}
                        </div>
                    </fieldset>
                    <p>&nbsp;</p>
                    <fieldset>
                        <legend>Security:</legend>
                        <label for="login_enabled">Login enabled:</label>
                        {% if settings.get('security', 'login_enabled') == '1' %}
                            <input type="checkbox" class="form-control bootstrap_switch" name="login_enabled"
                                   data-size="small" checked>
                        {% else %}
                            <input type="checkbox" class="form-control bootstrap_switch" name="login_enabled"
                                   data-size="small">
                        {% endif %}
                        <p>&nbsp;</p>
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" aria-describedby="basic-addon1"
                               name="username" value="{{ settings.get('security', 'username') }}">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" placeholder="Password"
                               aria-describedby="basic-addon1"
                               name="password" value="{{ settings.get('security', 'password') }}">
                    </fieldset>
                    <p>&nbsp;</p>
                    <fieldset>
                        <legend>Start-Up</legend>
                        <div class="form-group">
                            <label for="idle_interval">Idle interval:</label>
                            <input type="number" autocomplete="off" min="0" class="form-control"
                                   aria-describedby="basic-addon1"
                                   name="idle_interval" value="{{ settings.get('global', 'idle_interval') }}">
                            <label for="server_port">Server Port:</label>
                            <input type="number" autocomplete="off" min="1024" max="65535" class="form-control"
                                   aria-describedby="basic-addon1"
                                   name="server_port" value="{{ settings.get('global', 'server_port') }}">
                            <label for="bind_ip">Bind to ip:</label>
                            <input type="text" autocomplete="off" minlength="7" maxlength="15" size="15"
                                   pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$"
                                   title="Please enter a valid IP-address" class="form-control"
                                   aria-describedby="basic-addon1"
                                   name="bind_ip" value="{{ settings.get('global', 'bind_ip') }}">
                            <label for="reverse_proxy_path">Reverse proxy URL base:</label>
                            <input type="text" autocomplete="off" class="form-control" aria-describedby="basic-addon1"
                                   pattern="^\/[a-zA-Z0-9$\-_.+!*'(),,]*" name="reverse_proxy_path"
                                   placeholder="e.g. /premiumizer"
                                   value="{{ settings.get('global', 'reverse_proxy_path') }}">
                            <label for="custom_domain">Enter custom host and/or domain to protect against CORS vulnerability:</label>
                            <input type="text" autocomplete="off" class="form-control" aria-describedby="basic-addon1"
                                   name="custom_domain" placeholder="e.g. hostname or host.domain.com"
                                   value="{{ settings.get('global', 'custom_domain') }}">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="tab-pane" id="4a">
                <p>&nbsp;</p>
                <div class="form-group">
                    <label for="apikey">API Key:</label>
                    <input type="text" autocomplete="off" class="form-control" aria-describedby="basic-addon1"
                           name="apikey"
                           value="{{ settings.get('premiumize', 'apikey') }}">
                </div>
            </div>

            <div class="tab-pane" id="5a">
                <p>&nbsp;</p>
                <div class="form-group">
                    <label for="time_shed">Time Scheduler:</label>
                    {% if settings.get('downloads', 'time_shed') == '1' %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="time_shed"
                               data-size="small"
                               checked>
                    {% else %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="time_shed"
                               data-size="small">
                    {% endif %}
                    <p>&nbsp;</p>
                    <label for="time_shed_start">Start time:</label>
                    <input type="text" autocomplete="off" min="0" class="form-control" name="time_shed_start"
                           pattern="^[0-2]{1}[0-9]{1}:[0-2]{1}[0-9]{1}$" title="Please enter a valid time format HH:MM"
                           aria-describedby="basic-addon1"  value="{{ settings.get('downloads', 'time_shed_start') }}">
                    <label for="time_shed_stop">Stop time:</label>
                    <input type="text" autocomplete="off" min="0" class="form-control" name="time_shed_stop"
                           pattern="^[0-2]{1}[0-9]{1}:[0-2]{1}[0-9]{1}$" title="Please enter a valid time format HH:MM"
                           aria-describedby="basic-addon1" value="{{ settings.get('downloads', 'time_shed_stop') }}">
                    <p>&nbsp;</p>
                    <label for="download_enabled">Downloads enabled:</label>
                    {% if settings.get('downloads', 'download_enabled') == '1' %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="download_enabled"
                               data-size="small"
                               checked>
                    {% else %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="download_enabled"
                               data-size="small">
                    {% endif %}
                    <p>&nbsp;</p>
                    <label for="download_all">Download everything and assign the category 'default':</label>
                    {% if settings.get('downloads', 'download_all') == '1' %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="download_all"
                               data-size="small"
                               checked>
                    {% else %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="download_all"
                               data-size="small">
                    {% endif %}
                    <p>&nbsp;</p>
                    <label for="download_rss">Download RSS feeds:</label>
                    {% if settings.get('downloads', 'download_rss') == '1' %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="download_rss"
                               data-size="small"
                               checked>
                    {% else %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="download_rss"
                               data-size="small">
                    {% endif %}
                    <p>&nbsp;</p>
                    <label for="remove_cloud">Remove torrents from cloud after downloading:</label>
                    {% if settings.get('downloads', 'remove_cloud') == '1' %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="remove_cloud"
                               data-size="small"
                               checked>
                    {% else %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="remove_cloud"
                               data-size="small">
                    {% endif %}
                    <label for="remove_cloud_delay">Delay in hours:</label>
                    <input type="number" autocomplete="off" min="0" class="form-control" name="remove_cloud_delay"
                           aria-describedby="basic-addon1"
                           value="{{ settings.get('downloads', 'remove_cloud_delay') }}">
                    <p>&nbsp;</p>
                    <label for="seed_torrent">Seed private tracker torrents:</label>
                    {% if settings.get('downloads', 'seed_torrent') == '1' %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="seed_torrent"
                               data-size="small"
                               checked>
                    {% else %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="seed_torrent"
                               data-size="small">
                    {% endif %}
                    <p>&nbsp;</p>
                    <label for="nzbtomedia_location">path to nzbToMedia.py in the nzbtomedia folder:</label>
                    <input type="text" autocomplete="off" class="form-control" name="nzbtomedia_location"
                           aria-describedby="basic-addon1"
                           value="{{ settings.get('downloads', 'nzbtomedia_location') }}">
                </div>
                <p>&nbsp;</p>
                <fieldset>
                    <legend>Watchdir / Blackhole</legend>
                    <div class="form-group">
                        <label for="watchdir_enabled">Enable Watchdir/Blackhole:</label>
                        {% if settings.get('upload', 'watchdir_enabled') == '1' %}
                            <input type="checkbox" class="form-control bootstrap_switch" name="watchdir_enabled"
                                   data-size="small"
                                   checked>
                            <p>Disabling will require restart</p>
                        {% else %}
                            <input type="checkbox" class="form-control bootstrap_switch" name="watchdir_enabled"
                                   data-size="small">
                        {% endif %}
                        <label for="watchdir_walk_enabled">Alternative scan Watchdir/Blackhole on interval</label>
                        {% if settings.get('upload', 'watchdir_walk_enabled') == '1' %}
                            <input type="checkbox" class="form-control bootstrap_switch" name="watchdir_walk_enabled"
                                   data-size="small"
                                   checked>
                        {% else %}
                            <input type="checkbox" class="form-control bootstrap_switch" name="watchdir_walk_enabled"
                                   data-size="small">
                        {% endif %}
                        <p>Enable when watching is not possible (for example with network file systems). Changing
                            requires
                            restart.</p>
                        <br/>
                        <label for="watchdir_walk_interval">Interval in seconds:</label>
                        <input type="number" autocomplete="off" min="1" class="form-control"
                               name="watchdir_walk_interval"
                               aria-describedby="basic-addon1"
                               value="{{ settings.get('upload', 'watchdir_walk_interval') }}">
                        <p>&nbsp;</p>
                        <p>Subfolders will be created based on categories names</p>
                        <p>Downloads will automatically set category based on subfolder name</p>
                        <label for="watchdir_location">Folder to Watch:</label>
                        <input type="text" autocomplete="off"
                               placeholder="e.g. C:\premiumizer\watchdir - /home/premiumizer\watchdir"
                               class="form-control" name="watchdir_location"
                               aria-describedby="basic-addon1"
                               value="{{ settings.get('upload', 'watchdir_location') }}">
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane" id="6a">
                <p>&nbsp;</p>
                <fieldset>
                    <legend>General</legend>
                    <div class="form-group">
                        <label for="download_location">Download Location:</label>
                        <input type="text" autocomplete="off"
                               placeholder="e.g. C:\premiumizer\downloads  /home/premiumizer/downloads"
                               class="form-control" name="download_location"
                               aria-describedby="basic-addon1"
                               value="{{ settings.get('downloads', 'download_location') }}">
                        <label for="download_max">Max Simultaneous downloads: (Restart required)</label>
                        <input type="number" autocomplete="off" min="1" class="form-control" name="download_max"
                               aria-describedby="basic-addon1" value="{{ settings.get('downloads', 'download_max') }}">
                        <label for="download_speed">Speed limit in MegaBytes/s (-1 = no limit) (JD only enable/disable
                            speed set in JD itself)</label>
                        <input type="number" autocomplete="off" step="0.01" pattern="[0-9]*[.][0-9]"
                               title="Only dots are allowed e.g. 1.5"
                               class="form-control" name="download_speed"
                               aria-describedby="basic-addon1"
                               value="{{ settings.get('downloads', 'download_speed') }}">
                    </div>
                </fieldset>
                <p>&nbsp;</p>
                <fieldset>
                    <legend>pySmartDL (default)</legend>
                    <div class="form-group">
                        {% if cfg.download_builtin == 1 and cfg.download_enabled == 1 %}
                            <TD class="c7 vert-align text-center"><span
                                    class="label label-status label-success">Enabled</span></TD>
                        {% else %}
                            <TD class="c7 vert-align text-center"><span
                                    class="label label-status label-danger">Disabled</span></TD>
                        {% endif %}
                        <p>&nbsp;</p>
                        <label for="download_threads">Download threads:</label>
                        <input type="number" autocomplete="off" min="1" class="form-control" name="download_threads"
                               aria-describedby="basic-addon1"
                               value="{{ settings.get('downloads', 'download_threads') }}">
                    </div>
                </fieldset>
                <p>&nbsp;</p>
                <fieldset>
                    <legend>JDownloader</legend>
                    <div class="form-group">
                        <label for="jd_enabled">Use JDownloader:</label>
                        {% if settings.get('downloads', 'jd_enabled') == '1' %}
                            <input type="checkbox" class="form-control bootstrap_switch" name="jd_enabled"
                                   data-size="small" checked>
                        {% else %}
                            <input type="checkbox" class="form-control bootstrap_switch" name="jd_enabled"
                                   data-size="small">
                        {% endif %}
                        {% if cfg.jd_connected == 1 and cfg.download_enabled == 1 %}
                            <TD class="c7 vert-align text-center"><span
                                    class="label label-status label-success">Enabled</span></TD>
                        {% else %}
                            <TD class="c7 vert-align text-center"><span
                                    class="label label-status label-danger">Disabled</span></TD>
                        {% endif %}
                        <p>WARNING: directories will be flattened</p>
                        <label for="jd_username">JD Username:</label>
                        <input type="email" class="form-control" name="jd_username"
                               aria-describedby="basic-addon1" value="{{ settings.get('downloads', 'jd_username') }}">
                        <label for="jd_password">JD Password:</label>
                        <input type="password" autocomplete="off" class="form-control" name="jd_password"
                               aria-describedby="basic-addon1" value="{{ settings.get('downloads', 'jd_password') }}">
                        <label for="jd_device_name">Device Name:</label>
                        <input type="text" autocomplete="off" class="form-control" name="jd_device_name"
                               aria-describedby="basic-addon1"
                               value="{{ settings.get('downloads', 'jd_device_name') }}">
                    </div>
                </fieldset>
                <p>&nbsp;</p>
                <fieldset>
                    <legend>Aria2</legend>
                    <div class="form-group">
                        <label for="aria2_enabled">Use Aria2:</label>
                        {% if settings.get('downloads', 'aria2_enabled') == '1' %}
                            <input type="checkbox" class="form-control bootstrap_switch" name="aria2_enabled"
                                   data-size="small" checked>
                        {% else %}
                            <input type="checkbox" class="form-control bootstrap_switch" name="aria2_enabled"
                                   data-size="small">
                        {% endif %}
                        {% if cfg.aria2_connected == 1 and cfg.download_enabled == 1 %}
                            <TD class="c7 vert-align text-center"><span
                                    class="label label-status label-success">Enabled</span></TD>
                        {% else %}
                            <TD class="c7 vert-align text-center"><span
                                    class="label label-status label-danger">Disabled</span></TD>
                        {% endif %}
                        <p>Start aria2 with: aria2c --disable-ipv6=true --enable-rpc --rpc-allow-origin-all
                            --rpc-listen-all
                            --rpc-listen-port=6800 --rpc-secret=premiumizer --max-connection-per-server=16
                            --file-allocation=none --disk-cache=0</p>
                        <label for="aria2_host">aria2 host:</label>
                        <input type="text" autocomplete="off" class="form-control" name="aria2_host"
                               aria-describedby="basic-addon1"
                               value="{{ settings.get('downloads', 'aria2_host') }}">
                        <label for="aria2_port">aria2 port:</label>
                        <input type="number" autocomplete="off" min="1024" max="65535" class="form-control"
                               name="aria2_port"
                               aria-describedby="basic-addon1" value="{{ settings.get('downloads', 'aria2_port') }}">
                        <label for="jd_password">aria2 RPC secret:</label>
                        <input type="password" autocomplete="off" class="form-control" name="aria2_secret"
                               aria-describedby="basic-addon1" value="{{ settings.get('downloads', 'aria2_secret') }}">
                    </div>
                </fieldset>

            </div>

            <div class="tab-pane" id="8a">
                <p>&nbsp;</p>
                <h5>Download Location: overwrite default download location + subdirectory based on category
                    name</h5>
                <h5>Delete samples: Will not download any media file &lt; 150MB with sample or rarbg.com.mp4 in
                    url</h5>
                <h5>Extensions: whitelist or blacklist extensions to download; example mkv,mp4,srt</h5>
                <p>&nbsp;</p>
                {% for x in range(1,categories_amount) %}
                    <div class="form-inline">
                        <input type="text" autocomplete="off" class="form-control" placeholder="Name"
                               name="{{ "cat_name["+x|string+"]" }}"
                               aria-describedby="basic-addon1"
                               value="{{ settings.get('categories', 'cat_name['+x|string+']') }}">
                        <input type="text" autocomplete="off" class="form-control" placeholder="Download Location"
                               name="{{ "cat_dir["+x|string+"]" }}"
                               aria-describedby="basic-addon1"
                               value="{{ settings.get('categories', 'cat_dir['+x|string+']') }}">
                        <input type="text" autocomplete="off" class="form-control" placeholder="Extensions"
                               name="{{ "cat_ext["+x|string+"]" }}"
                               aria-describedby="basic-addon1"
                               value="{{ settings.get('categories', 'cat_ext['+x|string+']') }}">
                        {% if settings.get('categories', 'cat_ext_blacklist['+x|string+']') == '1' %}
                            <input type="checkbox" class="form-control bootstrap_switch"
                                    name="{{ "cat_ext_blacklist["+x|string+"]" }}"
                                    data-size="small" data-label-text="Blacklist Ext" checked>
                        {% else %}
                            <input type="checkbox" class="form-control bootstrap_switch"
                                    name="{{ "cat_ext_blacklist["+x|string+"]" }}"
                                    data-size="small" data-label-text="Blacklist Ext">
                        {% endif %}
                        {% if  settings.get('categories', 'cat_delsample['+x|string+']')    == '1' %}
                            <input type="checkbox" class="form-control bootstrap_switch"
                                   name="{{ "cat_delsample["+x|string+"]" }}"
                                   data-size="small" data-label-text="Delete samples" checked>
                        {% else %}
                            <input type="checkbox" class="form-control bootstrap_switch"
                                   name="{{ "cat_delsample["+x|string+"]" }}"
                                   data-size="small" data-label-text="Delete samples">
                        {% endif %}
                        {% if  settings.get('categories', 'cat_nzbtomedia['+x|string+']')    == '1' %}
                            <input type="checkbox" class="form-control bootstrap_switch"
                                   name="{{ "cat_nzbtomedia["+x|string+"]" }}"
                                   data-size="small" data-label-text="NZBtomedia" checked>
                        {% else %}
                            <input type="checkbox" class="form-control bootstrap_switch"
                                   name="{{ "cat_nzbtomedia["+x|string+"]" }}"
                                   data-size="small" data-label-text="NZBtomedia">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="tab-pane" id="10a">
                <p>&nbsp;</p>
                <fieldset>
                    <legend>Email</legend>
                    <label for="email_enabled">Enabled:</label>
                    {% if settings.get('notifications', 'email_enabled') == '1' %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="email_enabled"
                               data-size="small"
                               checked>
                    {% else %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="email_enabled"
                               data-size="small">
                    {% endif %}
                    <p>&nbsp;</p>
                    <label for="email_on_failure">Only on failure:</label>
                    {% if settings.get('notifications', 'email_on_failure') == '1' %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="email_on_failure"
                               data-size="small"
                               checked>
                    {% else %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="email_on_failure"
                               data-size="small">
                    {% endif %}
                    <p>&nbsp;</p>
                    <label for="email_encryption">Use encryption SSL/TLS:</label>
                    {% if settings.get('notifications', 'email_encryption') == '1' %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="email_encryption"
                               data-size="small"
                               checked>
                    {% else %}
                        <input type="checkbox" class="form-control bootstrap_switch" name="email_encryption"
                               data-size="small">
                    {% endif %}
                    <p>&nbsp;</p>
                    <label for="email_from">From:</label>
                    <input type="text" autocomplete="off" placeholder=" &quot;Premiumizer&quot; <example@domain.com>"
                           class="form-control"
                           name="email_from"
                           aria-describedby="basic-addon1" value="{{ settings.get('notifications', 'email_from') }}">
                    <label for="email_to">To:</label>
                    <input type="email" placeholder="example@domain.com" class="form-control" name="email_to"
                           aria-describedby="basic-addon1" value="{{ settings.get('notifications', 'email_to') }}">
                    <label for="email_server">Server:</label>
                    <input type="text" autocomplete="off" class="form-control" name="email_server"
                           aria-describedby="basic-addon1" value="{{ settings.get('notifications', 'email_server') }}">
                    <label for="email_port">Port:</label>
                    <input type="number" autocomplete="off" min="1" max="65535" placeholder="e.g. 25 456 587"
                           class="form-control"
                           name="email_port"
                           aria-describedby="basic-addon1" value="{{ settings.get('notifications', 'email_port') }}">
                    <label for="email_username">Username (if required):</label>
                    <input type="text" autocomplete="off" class="form-control" name="email_username"
                           aria-describedby="basic-addon1"
                           value="{{ settings.get('notifications', 'email_username') }}">
                    <label for="email_password">Password (if required):</label>
                    <input type="password" autocomplete="off" class="form-control" name="email_password"
                           aria-describedby="basic-addon1"
                           value="{{ settings.get('notifications', 'email_password') }}">
                    <p>&nbsp;</p>
                    <input type="submit" class="btn btn-info" name="submit" value="Send Test Email">
            </div>
            </fieldset>
            <p>&nbsp;</p>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"
            integrity="sha384-38PYlsq0vWFYdiwAXpB0nFeTgsOMC8AyIFC5g/qDp0ihLbjeYiFAWz3rcNVR1+lI"
            crossorigin="anonymous"></script>
{% endblock %}