watchdog==0.8.3
APScheduler==3.0.5
greenlet==0.4.9
bencode==1.0
chardet==2.3.0
click==6.3
futures==3.0.5
python-engineio==0.9.0
git+https://github.com/mitsuhiko/flask.git@c9b29f4072b66be4c751af060d64ea749c6991c1#egg=flask
flask_apscheduler==1.3.7
flask_socketio==2.2
flask-login==0.3.2
gevent-websocket==0.9.5
jinja2==2.8
MarkupSafe==0.23
pathtools==0.1.2
git+https://github.com/neox387/pySmartDL.git@1.2.5#egg=pySmartDL
pyperclip==1.5.26
requests==2.9.1
python-socketio==1.1
tzlocal==1.2.2
werkzeug==0.11.4
itsdangerous==0.24
six==1.10.0
gevent==1.1.0
python-dateutil==2.5