watchdog==0.8.3
APScheduler==3.3.1
greenlet==0.4.12
bencode==1.0
chardet==3.0.4
click==6.7
futures==3.1.1
python-engineio==1.7.0
flask==0.12.2
flask_apscheduler==1.7.0
flask_socketio==2.9.2
flask-login==0.4.0
flask-compress==1.4.0
flask-reverse-proxy==0.2.0.2
gevent-websocket==0.10.1
jinja2==2.9.6
MarkupSafe==1.0
pathtools==0.1.2
https://github.com/neox387/pySmartDL/archive/1.2.6.zip#egg=PySmartDL==1.2.6
requests==2.18.3
python-socketio==1.8.0
tzlocal==1.4
werkzeug==0.12.2
itsdangerous==0.24
six==1.10.0
gevent==1.2.2
python-dateutil==2.6.1
pycrypto==2.6.1
myjdapi==1.0.2