APScheduler == 3.0.5
gevent == 1.0.2         there is now a 1.1rc5 that is stable: https://pypi.python.org/pypi/gevent
greenlet == 0.4.9
setuptools == 18.2
pytz == 2015.7
setuptools == 18.2
AppKit == 0.2.8
ipython == 4.1.1
pyOpenSSL == 0.15.1
PyQt4 == 4.11.4
argh == 0.26.1
backports.functools_lru_cache == 1.2.1
blinker == 1.4
certifi == 2015.11.20.1
colorama == 0.3.6
eventlet == 0.18.4
protobuf == 3.0.0b2
kombu == 3.0.33
lxml == 3.5.0
python_memcached == 1.57
ndg_httpsclient == 0.4.0
pretty == 0.1
py == 1.4.31
pyasn1 == 0.1.9
pylibmc == 1.5.0
redis == 2.10.5
select_backport == 0.2
simplejson == 3.8.2
ujson == 1.35
unittest2 == 1.1.0
wsaccel == 0.6.2
PyYAML == 3.11
