{% extends "base.html" %}
{% set active_page = "history" %}
{% block title %} - Home{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Name</th>
            <th>Category</th>
            <th>Downloaded</th>
            <th>Deleted</th>
            <th>nzbToMedia</th>
            <th>Email</th>
            <th class="col-md-1 text-center">Info</th>
        </tr>
        </thead>
        {% for item in history|sort(attribute='date', reverse=True) %}
            <TR>
                <TD class="c1 vert-align">{{ item.date }}</TD>
                <TD class="c2 vert-align">{{ item.name }}</TD>
                <TD class="c3 vert-align">{{ item.category }}</TD>
                <TD class="c4 vert-align">{{ item.type }}</TD>
                {% if item.downloaded == '1' %}
                    <TD class="c5 vert-align"><span class="label label-status label-success">SUCCESS</span></TD>
                {% elif item.downloaded == '0' %}
                    <TD class="c5 vert-align"><span class="label label-status label-danger">FAILED</span></TD>
                {% else %}
                    <TD class="c5 vert-align"><span class="label label-status label-default">N/A</span></TD>
                {% endif %}
                {% if item.deleted == '1' %}
                    <TD class="c6 vert-align"><span class="label label-status label-success">SUCCESS</span></TD>
                {% elif item.deleted == '0' %}
                    <TD class="c6 vert-align"><span class="label label-status label-danger">FAILED</span></TD>
                {% else %}
                    <TD class="c5 vert-align"><span class="label label-status label-default">N/A</span></TD>
                {% endif %}
                {% if item.nzbtomedia == '1' %}
                    <TD class="c7 vert-align text-center"><span class="label label-status label-success">SUCCESS</span>
                    </TD>
                {% elif item.nzbtomedia == '0' %}
                    <TD class="c7 vert-align text-center"><span class="label label-status label-danger">FAILED</span>
                    </TD>
                {% else %}
                    <TD class="c5 vert-align"><span class="label label-status label-default">N/A</span></TD>
                {% endif %}
                {% if item.email == '1' %}
                    <TD class="c8 vert-align"><span class="label label-status label-success">SUCCESS</span></TD>
                {% elif item.email == '0' %}
                    <TD class="c8 vert-align"><span class="label label-status label-danger">FAILED</span></TD>
                {% else %}
                    <TD class="c5 vert-align"><span class="label label-status label-default">N/A</span></TD>
                {% endif %}
                <TD class="c9">
                    {% for line in item.info.splitlines() %}
                        {{ line }}<br>
                    {% endfor %}</TD>

            </TR>
        {% endfor %}
    </table>
{% endblock %}