{% extends "base.html" %}
{% set active_page = "log" %}
{% block title %} - Home{% endblock %}
{% block content %}
    <form data-toggle="validator" role="form" method="post" action="{{ url_for('log') }}" enctype="multipart/form-data">
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary">Reload</button>
            <input type="submit" class="btn-danger" name="submit" value="Clear">
        </div>
    </form>
    <h1>Log:</h1>
    <pre>{{ log }}</pre>
    <h1>DEBUG Log:</h1>
    <pre>{{ debuglog }}</pre>
{% endblock %}
