{% extends "base.html" %}
{% set active_page = "settings" %}
{% block title %} - Home{% endblock %}
{% block content %}
    <form data-toggle="validator" role="form" method="post" action="/settings" enctype="multipart/form-data">
        <h3>Global (requires restart)</h3>
        <div class="form-group">
            {% if settings.get('global', 'debug_enabled') == '1' %}
                <input type="checkbox" class="form-control bootstrap_switch" name="debug_enabled" data-size="small"
                       data-label-text="Debug Mode" checked>
            {% else %}
                <input type="checkbox" class="form-control bootstrap_switch" name="debug_enabled" data-size="small"
                       data-label-text="Debug Mode">
            {% endif %}
        </div>
        <div class="form-group">
            {% if settings.get('global', 'logfile_enabled') == '1' %}
                <input type="checkbox" class="form-control bootstrap_switch" name="logfile_enabled" data-size="small"
                       data-label-text="Enable Logfile to premiumizer.log" checked>
            {% else %}
                <input type="checkbox" class="form-control bootstrap_switch" name="logfile_enabled" data-size="small"
                       data-label-text="Enable Logfile to premiumizer.log">
            {% endif %}
        </div>
        <div class="form-group">
            <p>Time in seconds for idle interval:</p>
            <input type="number" class="form-control" placeholder="Idle interval" aria-describedby="basic-addon1"
                   name="idle_interval" value="{{ settings.get('global', 'idle_interval') }}">
            <p>&nbsp;</p>
            <p>Server port:</p>
            <input type="number" class="form-control" placeholder="Server Port" aria-describedby="basic-addon1"
                   name="server_port" value="{{ settings.get('global', 'server_port') }}">
        </div>
        <p>&nbsp;</p>
        <h3>Premiumizer Login Required</h3>
        <div class="form-group">
            {% if settings.get('security', 'login_enabled') == '1' %}
                <input type="checkbox" class="bootstrap_switch bootstrap-switch-small" name="login_enabled"
                       data-size="small" checked>
            {% else %}
                <input type="checkbox" class="bootstrap_switch bootstrap-switch-small" name="login_enabled"
                       data-size="small">
            {% endif %}
            <p>&nbsp;</p>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1"
                   name="username" value="{{ settings.get('security', 'username') }}">
            <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1"
                   name="password" value="{{ settings.get('security', 'password') }}">
        </div>
        <p>&nbsp;</p>
        <h3>Premiumize.me account:</h3>
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Customer ID" aria-describedby="basic-addon1"
                   name="customer_id" value="{{ settings.get('premiumize', 'customer_id') }}">
            <input type="password" class="form-control" placeholder="PIN" aria-describedby="basic-addon1" name="pin"
                   value="{{ settings.get('premiumize', 'pin') }}">
        </div>
        <p>&nbsp;</p>
        <h3>Automatic Local Downloads</h3>
        <div class="form-group">
            {% if settings.get('downloads', 'download_enabled') == '1' %}
                <input type="checkbox" class="bootstrap_switch" name="download_enabled" data-size="small" checked>
            {% else %}
                <input type="checkbox" class="bootstrap_switch" name="download_enabled" data-size="small">
            {% endif %}
            {% if settings.get('downloads', 'remove_cloud') == '1' %}
                <input type="checkbox" class="bootstrap_switch" name="remove_cloud" data-size="small"
                       data-label-text="Remove from cloud after downloading" checked>
            {% else %}
                <input type="checkbox" class="bootstrap_switch" name="remove_cloud" data-size="small"
                       data-label-text="Remove from cloud after downloading">
            {% endif %}
            <div class="form-group">
                <p>&nbsp;</p>
                <input type="text" class="form-control" placeholder="Download Location" name="download_location"
                       aria-describedby="basic-addon1" value="{{ settings.get('downloads', 'download_location') }}">
                <p>&nbsp;</p>
                <input type="text" class="form-control" placeholder="path to nzbToMedia.py" name="nzbtomedia_location"
                       aria-describedby="basic-addon1" value="{{ settings.get('nzbtomedia', 'nzbtomedia_location') }}">
            </div>
            <p>&nbsp;</p>
        </div>

        <h3>Copy Links to clipboard to catch (Jdownloader) - Automatic downloads will be disabled</h3>
        <div class="form-group">
            {% if settings.get('downloads', 'copylink_toclipboard') == '1' %}
                <input type="checkbox" class="bootstrap_switch" name="copylink_toclipboard" data-size="small" checked>
            {% else %}
                <input type="checkbox" class="bootstrap_switch" name="copylink_toclipboard" data-size="small">
            {% endif %}
            <p>&nbsp;</p>
        </div>


        <h3> Categories </h3>
        <h5>Download Location defaults to above location + subdirectory based on category name</h5>
        <h5>Size: default 0 = download everything</h5>
        <p>&nbsp;</p>
        {% for x in range(1,6) %}
            <div class="form-inline">
                <input type="text" class="form-control" placeholder="Name" name="{{ "cat_name["+x|string+"]" }}"
                       aria-describedby="basic-addon1"
                       value="{{ settings.get('categories', 'cat_name['+x|string+']') }}">
                <input type="text" class="form-control" placeholder="Download Location"
                       name="{{ "cat_dir["+x|string+"]" }}"
                       aria-describedby="basic-addon1"
                       value="{{ settings.get('categories', 'cat_dir['+x|string+']') }}">
                <input type="text" class="form-control" placeholder="Extensions" name="{{ "cat_ext["+x|string+"]" }}"
                       aria-describedby="basic-addon1"
                       value="{{ settings.get('categories', 'cat_ext['+x|string+']') }}">
                <input type="text" class="form-control" placeholder="Minimum Size to download"
                       name="{{ "cat_size["+x|string+"]" }}"
                       aria-describedby="basic-addon1"
                       value="{{ settings.get('categories', 'cat_size['+x|string+']') }}">
                {% if settings.get('categories', 'cat_nzbtomedia['+x|string+']') == '1' %}
                    <input type="checkbox" class="bootstrap_switch" name="{{ "cat_nzbtomedia["+x|string+"]" }}"
                           data-size="small" data-label-text="NZBtomedia" checked>
                {% else %}
                    <input type="checkbox" class="bootstrap_switch" name="{{ "cat_nzbtomedia["+x|string+"]" }}"
                           data-size="small" data-label-text="NZBtomedia">
                {% endif %}
            </div>
        {% endfor %}
        <p>&nbsp;</p>


        <h3>Upload Torrents / Watchdir </h3>
        <div class="form-group">
            {% if settings.get('upload', 'watchdir_enabled') == '1' %}
                <input type="checkbox" class="bootstrap_switch" name="watchdir_enabled" data-size="small" checked>
            {% else %}
                <input type="checkbox" class="bootstrap_switch" name="watchdir_enabled" data-size="small">
            {% endif %}
            <p>&nbsp;</p>
            <p>Subfolders will be created based on categories names</p>
            <input type="text" class="form-control" placeholder="Folder to Watch" name="watchdir_location"
                   aria-describedby="basic-addon1" value="{{ settings.get('upload', 'watchdir_location') }}">
        </div>
        <p>&nbsp;</p>

        <h3>Update</h3>
        <h5>Premiumizer will restart & update</h5>
        <div>
            <input type="submit" name="submit" value="Update">
        </div>
        <p>&nbsp;</p>

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-default">Save</button>
            <input type="submit" name="submit" value="Restart">
            <input type="submit" name="submit" value="Shutdown">
        </div>

    </form>
{% endblock %}