{% extends "base.html" %}
{% set active_page = "settings" %}
{% block title %} - Home{% endblock %}
{% block content %}
    <form data-toggle="validator" role="form" method="post" action="/settings" enctype="multipart/form-data">
        <div class="well well-sm">
            <h2>Global (requires restart)</h2>
        </div>
        <div class="form-group">
            <label for="debug_enabled">Debug mode:</label>
            {% if settings.get('global', 'debug_enabled') == '1' %}
                <input type="checkbox" class="form-control bootstrap_switch" name="debug_enabled" data-size="small"
                       checked>
            {% else %}
                <input type="checkbox" class="form-control bootstrap_switch" name="debug_enabled" data-size="small">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="idle_interval">Idle interval:</label>
            <input type="number" class="form-control" aria-describedby="basic-addon1"
                   name="idle_interval" value="{{ settings.get('global', 'idle_interval') }}">
            <label for="server_port">Server Port:</label>
            <input type="number" class="form-control" aria-describedby="basic-addon1"
                   name="server_port" value="{{ settings.get('global', 'server_port') }}">
            <label for="bind_port">Bind to ip:</label>
            <input type="text" class="form-control" aria-describedby="basic-addon1"
                   name="bind_ip" value="{{ settings.get('global', 'bind_ip') }}">
        </div>
        <p>&nbsp;</p>
        <div class="well well-sm">
            <h2>Premiumizer Login</h2>
        </div>
        <div class="form-group">
            <label for="login_enabled">Login enabled:</label>
            {% if settings.get('security', 'login_enabled') == '1' %}
                <input type="checkbox" class="bootstrap_switch bootstrap-switch-small" name="login_enabled"
                       data-size="small" checked>
            {% else %}
                <input type="checkbox" class="bootstrap_switch bootstrap-switch-small" name="login_enabled"
                       data-size="small">
            {% endif %}
            <p>&nbsp;</p>
            <label for="username">Username:</label>
            <input type="text" class="form-control" aria-describedby="basic-addon1"
                   name="username" value="{{ settings.get('security', 'username') }}">
            <label for="password">Password:</label>
            <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1"
                   name="password" value="{{ settings.get('security', 'password') }}">
        </div>
        <p>&nbsp;</p>
        <div class="well well-sm">
            <h2>Premiumize.me account:</h2>
        </div>
        <div class="form-group">
            <label for="customer_id">Customer ID:</label>
            <input type="number" class="form-control" aria-describedby="basic-addon1"
                   name="customer_id" value="{{ settings.get('premiumize', 'customer_id') }}">
            <label for="pin">PIN:</label>
            <input type="password" class="form-control" aria-describedby="basic-addon1" name="pin"
                   value="{{ settings.get('premiumize', 'pin') }}">
        </div>
        <p>&nbsp;</p>
        <div class="well well-sm">
            <h2>Automatic Local Downloads</h2>
        </div>
        <div class="form-group">
            <label for="download_enabled">Downloads enabled:</label>
            {% if settings.get('downloads', 'download_enabled') == '1' %}
                <input type="checkbox" class="bootstrap_switch" name="download_enabled" data-size="small" checked>
            {% else %}
                <input type="checkbox" class="bootstrap_switch" name="download_enabled" data-size="small">
            {% endif %}
            <p>&nbsp;</p>
            <label for="remove_cloud">Remove torrents from cloud after downloading:</label>
            {% if settings.get('downloads', 'remove_cloud') == '1' %}
                <input type="checkbox" class="bootstrap_switch" name="remove_cloud" data-size="small" checked>
            {% else %}
                <input type="checkbox" class="bootstrap_switch" name="remove_cloud" data-size="small">
            {% endif %}
            <p>&nbsp;</p>
            <label for="copylink_toclipboard">Instead of downloading: copy links to clipboard (Jdownloader)</label>
            {% if settings.get('downloads', 'copylink_toclipboard') == '1' %}
                <input type="checkbox" class="bootstrap_switch" name="copylink_toclipboard" data-size="small" checked>
            {% else %}
                <input type="checkbox" class="bootstrap_switch" name="copylink_toclipboard" data-size="small">
            {% endif %}
            <p>&nbsp;</p>
            <label for="download_max">Max Simultaneous downloads: (requires restart)</label>
            <input type="number" class="form--inline" name="download_max"
                   aria-describedby="basic-addon1" value="{{ settings.get('downloads', 'download_max') }}">
            <p>&nbsp;</p>
        </div>
        <div class="form-group">

            <label for="download_location">Download Location:</label>
            <input type="text" class="form-control" name="download_location"
                   aria-describedby="basic-addon1" value="{{ settings.get('downloads', 'download_location') }}">
            <p>&nbsp;</p>
            {% if not cfg.nzbtomedia_builtin %}
                <label for="nzbtomedia_location">path to TorrentToMedia.py in the nzbtomedia folder:</label>
                <input type="text" class="form-control" name="nzbtomedia_location"
                       aria-describedby="basic-addon1" value="{{ settings.get('downloads', 'nzbtomedia_location') }}">
            {% else %}
                <p>NzbToMedia is detected at:</p> {{ cfg.nzbtomedia_location }}
            {% endif %}
        </div>
        <p>&nbsp;</p>
        </div>

        <div class="well well-sm">
            <h2> Categories </h2>
        </div>
        <h5>Download Location defaults to above location + subdirectory based on category name</h5>
        <h5>Size: default 0 = download everything</h5>
        <p>&nbsp;</p>
        {% for x in range(1,6) %}
            <div class="form-inline">
                <input type="text" class="form-control" placeholder="Name" name="{{ "cat_name["+x|string+"]" }}"
                       aria-describedby="basic-addon1"
                       value="{{ settings.get('categories', 'cat_name['+x|string+']') }}">
                <input type="text" class="form-control" placeholder="Download Location"
                       name="{{ "cat_dir["+x|string+"]" }}"
                       aria-describedby="basic-addon1"
                       value="{{ settings.get('categories', 'cat_dir['+x|string+']') }}">
                <input type="text" class="form-control" placeholder="Extensions" name="{{ "cat_ext["+x|string+"]" }}"
                       aria-describedby="basic-addon1"
                       value="{{ settings.get('categories', 'cat_ext['+x|string+']') }}">
                <input type="text" class="form-control" placeholder="Minimum Size to download"
                       name="{{ "cat_size["+x|string+"]" }}"
                       aria-describedby="basic-addon1"
                       value="{{ settings.get('categories', 'cat_size['+x|string+']') }}">
            NzbToMedia:
                {% if  settings.get('categories', 'cat_nzbtomedia['+x|string+']')    == '1' %}
                    <input type="checkbox" class="checkbox-inline" name="{{ "cat_nzbtomedia["+x|string+"]" }}"
                           data-size="small" data-label-text="NZBtomedia" checked>
                {% else %}
                    <input type="checkbox" class="checkbox-inline" name="{{ "cat_nzbtomedia["+x|string+"]" }}"
                           data-size="small" data-label-text="NZBtomedia">
                {% endif %}
            </div>
        {% endfor %}
        <p>&nbsp;</p>

        <div class="well well-sm">
            <h2>Upload Torrents / Watchdir </h2>
        </div>
        <div class="form-group">
            <label for="watchdir_enabled">Enabled:</label>
            {% if settings.get('upload', 'watchdir_enabled') == '1' %}
                <input type="checkbox" class="bootstrap-switch-default" name="watchdir_enabled" data-size="small" checked>
            {% else %}
                <input type="checkbox" class="bootstrap-switch-default"  name="watchdir_enabled" data-size="small">
            {% endif %}
            <p>&nbsp;</p>
            <p>Subfolders will be created based on categories names</p>
            <label for="watchdir_location">Folder to Watch:</label>
            <input type="text" class="form-control" name="watchdir_location"
                   aria-describedby="basic-addon1" value="{{ settings.get('upload', 'watchdir_location') }}">
        </div>
        <p>&nbsp;</p>
        <div class="well well-sm">
            <h2>Update</h2>
        </div>
        <h5>Premiumizer will restart & update</h5>
        <div>
            <input type="submit" class="btn-danger" name="submit" value="Update">
        </div>
        <p>&nbsp;</p>

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary">Save</button>
            <input type="submit" class="btn-danger" name="submit" value="Restart">
            <input type="submit" class="btn-danger" name="submit" value="Shutdown">
        </div>

    </form>
{% endblock %}